.search-form-container {
  text-align: right;
  position: absolute;
  width: 300px;
  overflow: hidden;
  background: $primary;
  padding:0.8em 0;
  right: 20px;
  top: 0;
  z-index: 9;
  transition: all .3s ease-in-out;
  &.hdn {
    width: 0;
  }
  #hide-search-input-container{
    float:left;
    padding-top:0.4em;
  }
  .search-input-group {
    .form-group{
      margin-bottom:0;
    }
    .input-group{
      width: auto;
      flex-wrap:nowrap;
    }
  }
}
.navbar{
  .container{
    position: relative;
  }
}
